<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Geri"></ion-back-button>
    </ion-buttons>
    <ion-title>Kayıt Ol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
<ion-item>
  <ion-label fixed>Ad</ion-label>
  <ion-input type="text" [(ngModel)]="userData.name"></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Eposta</ion-label>
  <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
  </ion-item>
<ion-item>
  <ion-label fixed>Kullanıcı Adı</ion-label>
  <ion-input type="text" [(ngModel)]="userData.username"></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Şifre</ion-label>
  <ion-input type="password" [(ngModel)]="userData.password"></ion-input>
  </ion-item>

  <ion-button [disabled]="userData.name == '' || userData.email == '' || userData.username == '' || userData.password == '' " color="success" expand="full" (click)="kayit()">Kayıt Ol</ion-button>

  </ion-list>
</ion-content>
